.principal {
    background: linear-gradient(135deg, #0554F2 0%, #056CF2 100%);
    background-attachment: fixed;
    border-radius: 1em;
    padding: 2em;
    color: #F2E8D5;
}

.centro{
    width: 100%;
    height: 100%;
    align-content: center;
}

.linha{
    height: 10em;
}

h1{
    text-align: center;
    color: #F2E8D5;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

.form{
    margin-top: 2em;
}

.gap{
    gap: 10px;
}