.days-list {
    display: flex;
    flex-direction: column;
}

.day-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.day-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time-inputs {
    display: flex;
    flex-direction: row;
}

.divisao {
    margin-left: 5px;
    margin-right: 5px;
}

.input-group {
    height: min-content;
}

.input-group input {
    background-color: #F2E8D5;
    border-radius: 5px;
    border-width: 0px;
    padding: 0;
    height: 30px;
}