<div class="container-custom">
    <div class="card-principal d-flex flex-column elemento-animado-3">
        <div class="nome-tipo-quadra">
            <div>
                <h1 class="font-size-30 fonte">
                    {{quadraEscolhida.nome}}
                </h1>
            </div>
            <p class="font-size-20 fonte-2 cor2">
                {{quadraEscolhida.tipoQuadra | capitalize}}
            </p>
        </div>
        <div class="detalhes-quadra d-flex flex-row">
            <div class="foto-texto d-flex flex-column coluna-com-linha">
                <div id="foto">
                    <img class="foto" src="../../../../assets/images/pictures/quadra-minimalista.png" alt="">
                </div>
                <div id="texto">
                    <p class="fonte-2 cor2 font-size-15 texto">
                        {{quadraEscolhida.descricao}}
                    </p>
                </div>
            </div>
            <div class="estrutura d-flex flex-column coluna-com-linha">
                <h3 class="fonte font-size-20 cor2">
                    Estrutura
                </h3>
                <div class="d-flex flex-column">
                    @if (quadraEscolhida.haveWifi == true) {
                    <div class="d-flex flex-row centralizar structure-item">
                        <img src="../../../../assets/images/icons/wifi-icon.png" alt="">
                        <p class="fonte-2 cor-2 font-size-17 centralizar">Wi-fi</p>
                    </div>
                    }
                    @if (quadraEscolhida.haveBar == true) {
                    <div class="d-flex flex-row centralizar structure-item">
                        <img src="../../../../assets/images/icons/cerveja-icon.png" alt="">
                        <p class="fonte-2 cor-2 font-size-17 centralizar">Bar</p>
                    </div>
                    }
                    @if (quadraEscolhida.haveLanchonete == true) {
                    <div class="d-flex flex-row centralizar structure-item">
                        <img src="../../../../assets/images/icons/restaurante-icon.png" alt="">
                        <p class="fonte-2 cor-2 font-size-17 centralizar">Lanchonete</p>
                    </div>
                    }
                    @if (quadraEscolhida.haveChurrasqueira == true) {
                    <div class="d-flex flex-row centralizar structure-item">
                        <img src="../../../../assets/images/icons/churrasco-icon.png" alt="">
                        <p class="fonte-2 cor-2 font-size-17 centralizar">Churrasqueira</p>
                    </div>
                    }
                    @if (quadraEscolhida.haveEscolinha == true) {
                    <div class="d-flex flex-row centralizar structure-item">
                        <img src="../../../../assets/images/icons/escolinha-icon.png" alt="">
                        <p class="fonte-2 cor-2 font-size-17 centralizar">Escolinha</p>
                    </div>
                    }
                    @if (quadraEscolhida.haveEstacionamento == true) {
                    <div class="d-flex flex-row centralizar structure-item">
                        <img src="../../../../assets/images/icons/carro-icon.png" alt="">
                        <p class="fonte-2 cor-2 font-size-17 centralizar">Estacionamento</p>
                    </div>
                    }
                    @if (quadraEscolhida.haveTv == true) {
                    <div class="d-flex flex-row centralizar structure-item">
                        <img src="../../../../assets/images/icons/tv-icon.png" alt="">
                        <p class="fonte-2 cor-2 font-size-17 centralizar">Tv</p>
                    </div>
                    }
                    @if (quadraEscolhida.haveVestiario == true) {
                    <div class="d-flex flex-row centralizar structure-item">
                        <img src="../../../../assets/images/icons/vestiario-icon.png" alt="">
                        <p class="fonte-2 cor-2 font-size-17 centralizar">Vestiário</p>
                    </div>
                    }
                    @if (quadraEscolhida.haveOutros == true) {
                    <div class="d-flex flex-row centralizar structure-item">
                        <img src="../../../../assets/images/icons/outros-icon.png" alt="">
                        <div class="d-flex flex-column">
                            <p class="fonte-2 cor-2 font-size-17 centralizar">Outros:</p>
                            <p class="fonte-2 cor-2 font-size-10 centralizar">{{quadraEscolhida.outrosDesc}}</p>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="quadras d-flex flex-column coluna-com-linha">
                <h3 class="fonte font-size-20 cor2">
                    Quadras
                </h3>
                <div class="d-flex flex-column ">
                    @for (tipo of listaCampo; track tipo) {
                    <div class="d-flex row-column centralizar structure-item">
                        @if (tipo == "Society") {
                        <img src="../../../../assets/images/icons/futsal-icon.png" alt="">
                        }
                        @if (tipo == "Futsal") {
                        <img src="../../../../assets/images/icons/futsal-icon.png" alt="">
                        }
                        @if (tipo == "Vôlei") {
                        <img src="../../../../assets/images/icons/volei-icon.png" alt="">
                        }
                        @if (tipo == "Tênis") {
                        <img src="../../../../assets/images/icons/tenis-icon.png" alt="">
                        }
                        @if (tipo == "Handebol") {
                        <img src="../../../../assets/images/icons/handebol-icon.png" alt="">
                        }
                        @if (tipo == "Areia") {
                        <img src="../../../../assets/images/icons/volei-icon.png" alt="">
                        }
                        @if (tipo == "Beachtênis") {
                        <img src="../../../../assets/images/icons/tenis-icon.png" alt="">
                        }
                        @if (tipo == "Futebol") {
                        <img src="../../../../assets/images/icons/futebol-icon.png" alt="">
                        }
                        @if (tipo == "Basquete") {
                        <img src="../../../../assets/images/icons/basquete-icon.png" alt="">
                        }
                        <p class="fonte-2 cor-2 font-size-17 centralizar">{{tipo}}</p>
                    </div>
                    }
                </div>
            </div>
            <div class="horario-endereço-botão d-flex flex-column">
                <h3 class="fonte font-size-20 cor2">
                    Horário de funcionamento
                </h3>
                <div class="d-flex flex-column ">
                    @for (horario of quadraEscolhida.horariosDeFuncionamento; track horario.dayOfWeek) {
                    <div class="d-flex flex-row centralizar-2 structure-item-2">
                        <p class="fonte-2 cor-2 font-size-17 centralizar-2">{{horario.dayName}}</p>
                        <img src="../../../../assets/images/icons/arrow-icon.png" alt="">
                        @if (horario.isOpen) {
                        <p class="fonte-2 cor-2 font-size-17 centralizar-2">{{ horario.openTime }} - {{
                            horario.closeTime
                            }}</p>
                        } @else {
                        <p class="fonte-2 cor-2 font-size-17 centralizar-2">Fechado</p>
                        }
                    </div>
                    }
                </div>

                <h3 class="fonte font-size-20 cor2 margin">
                    Endereço
                </h3>
                <div class="d-flex flex-column">
                    <p class="fonte-2 cor-2 font-size-17 margin-0">{{quadraEscolhida.cidade}} -
                        {{quadraEscolhida.estado}}</p>
                    <p class="fonte-2 cor-2 font-size-17 margin-0">{{quadraEscolhida.bairro}}</p>
                    <p class="fonte-2 cor-2 font-size-17 margin-0">{{quadraEscolhida.rua}} -
                        {{quadraEscolhida.numeroCasa}}</p>
                </div>

                <div class="d-flex flex-row botao-agendar centralizar-2">
                    <img src="../../../../assets/images/icons/calendario-icon.png" alt="">
                    <p class="fonte-3 cor font-size-17 centralizar-2">AGENDAR HORÁRIO</p>
                </div>
            </div>
        </div>
    </div>
</div>