.card-azul {
  height: fit-content;
  width: 455px;
  background-color: #0554F2;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  border-radius: 5px;
}

.container-cards {
  max-width: 1400px;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  column-gap: 10px;
  row-gap: 20px;
}

.imagem-quadra{
  object-fit: cover;
  height: 200px;
  width: 455px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.font-size-52 {
  font-size: 52px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.cor1 {
  text-align: center;
  color: #0554F2;
  margin-bottom: 20px;
}

.cor2 {
  color: #F2E8D5;
}

.cor3 {
  color: #0554F2;
}

.botões {
  gap: 10px;
}

.bairro{
  margin: 10px;
}

.botão {
  margin-top: 20px;
  background-color: #F2E8D5;
  border-radius: 5px;
  height: 35px;
  width: 190px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}