html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #F2E8D5;
  background-attachment: fixed;
}

.fonte {
  color: #F2E8D5;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}