html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  // -ms-overflow-style: none;
  scrollbar-width: none;
  // overflow-y: scroll; /* Mantém a rolagem ativa */
}

.body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #F2E8D5;
  background-attachment: fixed;
}

.fonte {
  color: #F2E8D5;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.fonte-3 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.cor{
  color: #2B68E0;
}

.fonte-2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.cor-2 {
  color: #F2E8D5;
}

.margin-0{
  margin: 0;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.elemento-animado {
  animation: slideInFromRight 0.8s ease-out forwards;
}

.elemento-animado-2 {
  animation: slideInFromRight 1s ease-out forwards;
}

.elemento-animado-3 {
  animation: slideInFromRight 1.2s ease-out forwards;
}


.font-size-52 {
  font-size: 52px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}


.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-30 {
  font-size: 30px;
}

.botão-2:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.custom-p {
  margin-bottom: 20px;
}

.centralizar-text {
  align-items: center;
  text-align: center;
  justify-items: center;
}

.custom-b{
  margin-top: 5px;
  border-radius: 5px;
  border-color: #0554F2;
  border-width: 1px;
  border-style: solid;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
}

.custom-b:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}