html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  // -ms-overflow-style: none;
  scrollbar-width: none;
  // overflow-y: scroll; /* Mantém a rolagem ativa */
}

.body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #F2E8D5;
  background-attachment: fixed;
}

.fonte {
  color: #F2E8D5;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.fonte-2{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.elemento-animado {
  animation: slideInFromRight 0.8s ease-out forwards;
}

.elemento-animado-2 {
  animation: slideInFromRight 1s ease-out forwards;
}

.elemento-animado-3 {
  animation: slideInFromRight 1.2s ease-out forwards;
}
